:root {
  --color-primary: #8bb565;
  --color-secondary: #3d3e4b;
  --color-accent: #7b495d;
  --color-text: #c2c2c2;
  --color-dark-green: #638C38;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}

html {
  font-family: var(--font-primary);
}

.content {
  margin-left: 250px;
}

.top {
  margin-left: 200px;
}

.pasta {
  margin-left: 200px;
}

@media only screen and (max-width: 400px) {

.content {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.top {
  margin-left: 0;
}

.pasta {
  margin-left: 0;
}

}
