fieldset {
  border: none;
}

.space-right {
  padding-right: .5em;
}

textarea {
  width: 300px;
}

.allergies {
  border-radius: 20px;
  height: 5em;
  background-color: #e2e2e2;
  border: none;
}

select {
  border-radius: 50px;
  background-color: #e2e2e2;
  border: none;
  height: 2em;
}

label {
  color: var(--color-primary);
}

.save {
  display: block;
  margin: 0 auto;
}
