.btn {
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 5px 0px var(--color-dark-green);
}

.btn:hover {
  background-color: var(--color-text);
  color: var(--color-secondary);
  box-shadow: 0px 5px 0px var(--color-secondary);
}

.purple {
  background-color: var(--color-accent);
  color: #ffffff;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 5px 0px #552E3E;
}

.purple:hover {
  background-color: var(--color-text);
  color: var(--color-secondary);
  box-shadow: 0px 5px 0px var(--color-secondary);
}
