.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--color-primary);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--color-secondary);
  color:#ffffff;
}

.sidebar a:hover:not(.active) {
  background-color:var(--color-dark-green);
  color: #ffffff;
}

.search {
  border-radius: 30px;
  border: none;
}

.icon-label {
  color: #ffffff;
}

@media only screen and (max-width: 400px) {

.sidebar {
  width: 100%;
  height: auto;
  position: relative;
}
.sidebar a {float: left;}
}

li {
  padding-bottom: 4.5em;
}

@media only screen and (max-width: 400px) {

.sidebar a {
text-align: center;
float: none;
}

li {
  padding-bottom: 0em;
}

.logo {
  width: 60%;
  display: block;
  margin: 0 auto;
}

}
