.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--color-primary);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--color-secondary);
  color:#ffffff;
}

.sidebar a:hover:not(.active) {
  background-color:var(--color-dark-green);
  color: #ffffff;
}

@media only screen and (max-width: 800px) {

.sidebar {
  width: 100%;
  height: auto;
  position: relative;
}
.sidebar a {float: left;}
}

@media only screen and (max-width: 400px) {

.sidebar a {
text-align: center;
float: none;
}

}
